<%- include('header', {title: title, style: '../../stylesheets/mainfeed.css'}); %>
        <h3><a href="/s/<%=forum.sname%>"><%=forum.sname%></a></h3>
        <h6><%=forum.title%></h6>
        <p><%=forum.description%><p>

    </div>

    <div id="feed">
        <ol class="postList">
            <li class="post" data-pid="<%=post.pid%>">
                <div class="scoreDiv">
                    <i class="fa fa-arrow-up fa-lg upvote" aria-hidden="true"></i>
                    <div class="score" data-score="<%=post.score%>"><%=post.score%></div>
                    <i class="fa fa-arrow-down fa-lg downvote" aria-hidden="true"></i>
                </div>
                <div class="postInfo">
                    <div class="title">
                        <% if(post.url!=null) { %>
                            <a href="<%=post.url%>"><%=post.title%></a>
                        <% } else { %>
                            <%=post.title%>
                        <% }  %>
                    </div>
                    <div id="tagline" data-timestamp="<%=post.timestamp%>" data-author="<%=post.username%>" data-sname="<%=post.sname%>"></div>
                    <% if(post.text!=null && post.text!= '') { %>
                        <div class="text textDiv"><%=post.text%></div>
                    <% } %>
                    <ul class="postButtons">
                        <li class="comments"></li>
                        <% if(canDelete || post.username == username) { %>
                            <li class="deleteBtn">delete</li>
                        <% } %>
                    </ul>
                </div>
            </li>
        </ol>
        <div id="commentDiv">
            <form id="commentForm">
                <div >Comment</div>
                <textarea type="text" id="commentTextArea" name="comment" maxlength="40000"></textarea></br>
                <input id="submitCommentBtn" type="submit" value="save" data-pid="<%=post.pid%>">
                <div id="postNotFound">Failed to comment. This post no longer exists.</div>
            </form>
            <ul id="commentList"></ul>
        </div>
    </div>
</div>

<%- include('footer', {script: "../../javascripts/post.js"}); %>
