<%- include('header', {title: title, style: '../../stylesheets/mainfeed.css'}); %>

        <h3><%=forum.sname%></h3>
        <h6><i><%=forum.type%></i></h6>
        <h6><%=forum.title%></h6>
        <p><%=forum.description%></p>
        <label id="createLinkPost" for="modal1">Submit a new link</label>
        <label id="createTextPost" for="modal2">Submit a new text post</label>
        <% if(isAdmin) { %>
            <label id="adminOptions" for="modal3">Admin Options</label>
        <% }
        if(forum.type != 'public' && (isAdmin || isMod) ) { %>
            <label id="addUsers" for="modal4">Add Users</label>
        <% } %>
    </div>
    <div id="feed">
        <div id="sort">
            <button class="sortBtn" id="topBtn">Top</button>
            <button class="sortBtn" id="recentBtn">Recent</button>
        </div>
        <div id="noPosts">The SUB4UM has no posts to display. Create own post and be the first!</div>
        <ol class="postList"></ol>
    </div>
</div>

<input class="modalState" id="modal1" type="checkbox"/>
<div class="modal">
    <label class="modalBg" for="modal1"></label>
    <div class="modalContent urlShortModal2">
        <label for="modal1">
            <i class="fa fa-times fa-lg modalClose" aria-hidden="true"></i>
        </label>
        <h2>Submit link to 4UM</h2>
        <form id="postLinkForm">
            <label for="url">url</label></br>
            <input type="url" id="url" name="postUrl" onblur="checkURL(this)" required></br>
            <label for="title">title</label>
            <input type="text" id="title" name="postTitle" maxlength="300" required></input></br>
            <input type="submit" value="submit" id="modal1submit">
        </form>
    </div>
</div>

<input class="modalState" id="modal2" type="checkbox"/>
<div class="modal">
    <label class="modalBg" for="modal2"></label>
    <div class="modalContent">
        <label for="modal2">
            <i class="fa fa-times fa-lg modalClose" aria-hidden="true"></i>
        </label>
        <h2>Submit a text post to 4UM</h2>
        <form id="postTextForm">
            <label for="title2">title</label>
            <input type="text" id="title" name="postTitle" maxlength="300" required></input></br>
            <label for="text">text (optional)</label>
            <textarea type="text" id="textAreaPost" name="postText" maxlength="40000"></textarea></br>
            <input type="submit" value="submit" id="modal2submit">
        </form>
    </div>
</div>

<input class="modalState" id="modal3" type="checkbox"/>
<div class="modal">
    <label class="modalBg" for="modal3"></label>
    <div class="modalContent">
        <label for="modal3">
            <i class="fa fa-times fa-lg modalClose" aria-hidden="true"></i>
        </label>
        <h2>Admin Options</h2>
        <h5>Moderators will be able to delete user posts in the SUB4UM. They also can invite and accept user requests. You can add or remove any current subscribers as a Moderator.</h5>
        <form id="addMods">
            <label for="username">Add Moderator</label>
            <select id="addModSelect" name="username" required></select>
            <input type="submit" value="Add" id="addModBtn">
        </form>
        <form id="removeMods">
            <label for="username">Remove Moderator</label>
            <select id="removeModSelect" name="username" required></select>
            <input type="submit" value="Remove" id="removeModBtn">
        </form>
        <button id="deleteSub4um" onclick="location.href='/SUB4UM';">DELETE SUB4UM</button>
    </div>
</div>

<input class="modalState" id="modal4" type="checkbox"/>
<div class="modal">
    <label class="modalBg" for="modal4"></label>
    <div class="modalContent addUsersContent">
        <label for="modal4">
            <i class="fa fa-times fa-lg modalClose" aria-hidden="true"></i>
        </label>
        <h2>Add Users</h2>
        <% if(forum.type == 'protected') { %>
        <form id="userRequests">
            <label for="username">Pending User Requests</label>
            <div id="noRequests">There are no pending requests for the SUB4UM.</div>
            <ul id="userRequestsList"></ul>
            <input type="submit" value="Approve" id="approveUsersBtn">
        </form>
        <% } if(forum.type=='private') { %>
        <form id="inviteUsers">
            <label for="username">Enter username to invite:</label>
            <input type="hidden" id="inviteAccessCode" name="accesscode" value="<%=forum.accesscode%>">
            <input type="text" id="inviteUsername" name="username" required></input>
            <div id="noUser">There is no one registered with that username.</div>
            <input type="submit" value="Invite" id="inviteBtn" data-sname=<%=forum.sname%>>
        </form>
        <% } %>
    </div>
</div>

<%- include('footer', {script: "../../javascripts/mainfeed.js"}); %>
